DB_URI=mongodb+srv://adityavinchhi210480:wGUg2LWDXSaCTLIc@cluster0.7i5qa.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
SEARCH_FIELD=embedding
COSIN_INDEX=Face_search_cosine
EUCLIDEAN_INDEX=Face_search_euclidean
DOT_PRODUCT_INDEX=Face_search_dotproduct